build_id: "{{ build_id }}"
release: "{{ release }}"
composer_overrides: "{{ composer_overrides }}"
git_repo: "{{ git_repo }}"
git_version: "{{ git_version }}"
git_hash: "{{ git_hash.stdout }}"
php_version_override: "{{ php_version_override }}"
theme: "{{ theme }}"
sass_compiler: "{{ sass_compiler }}"
use_sass: "{{ use_sass }}"
