# Drutopia Site Index

Last updated: {{ report_date }}
{% for site in versions %}

## {{ site }}
Build ID: {{ versions[site]["ver"] }}
Security:
```
{{ versions[site]["security"]|regex_replace('\n', '\\n') }}
```
{% endfor %}
