priority=99
sendmail_path = "SMTP_PWD={{ msmtp_password|quote}} /usr/bin/msmtp --host={{ msmtp_host }} --port={{ msmtp_port }} --auth={{ msmtp_auth }} --user={{ msmtp_user }} --passwordeval='echo $SMTP_PWD' -t"
