<VirtualHost *:80>
  ServerName {{ server_hostname }}
  {% if server_aliases %}
  ServerAlias {% for alias in server_aliases %}{{ alias }} {% endfor %}
  {% endif %}

  {% if site_ssl_cert_path|length == 0 and site_ssl_key_path|length == 0 %}
    DocumentRoot {{ drupal_dir }}

    RewriteEngine on
    {% if custom_redirect %}
      RewriteMap redirects "dbm:{{ site_dir }}/redirects.map"
      RewriteRule ^ - [E=user_redirects:Y]
    {% else %}
      RewriteRule ^ - [E=user_redirects:N]
    {% endif %}

    {% if canonical_redirect %}
      <If "%{HTTP_HOST} != '{{ server_hostname }}'">
        Redirect "/" "http://{{ server_hostname }}/"
      </If>
    {% endif %}

    <Directory "{{ drupal_dir }}">
      AllowOverride All
      Options -Indexes +FollowSymLinks
      {% if htpasswd_enable %}
        AuthType Basic
        AuthName "{{ htpasswd_prompt }}"
        AuthUserFile {{ site_dir }}/.htpasswd
        Require valid-user
      {% else %}
        Require all granted
      {% endif %}
    </Directory>
    {% if htpasswd_enable %}
    <Directory "{{ drupal_dir }}/.well-known">
      AuthType None
      Require all granted
    </Directory>
    {% endif %}
    {% if not fpm_disable %}
      <FilesMatch \.php$>
        SetHandler "proxy:unix:/var/run/php-fpm{{ php_version }}-{{ drutopian }}.sock|fcgi://127.0.0.1:9000"
      </FilesMatch>
    {% endif %}
    CustomLog {{ log_dir }}/web-access.log combined
    ErrorLog {{ log_dir }}/web-error.log
  {% else %}
    Redirect permanent / https://{{ server_hostname }}/
  {% endif %}

</VirtualHost>

{% if site_ssl_cert_path|length > 0 and site_ssl_key_path|length > 0 %}
<VirtualHost *:443>
  ServerName {{ server_hostname }}

  {% if server_aliases %}
  ServerAlias {% for alias in server_aliases %}{{ alias }} {% endfor %}
  {% endif %}

  {% if canonical_redirect %}
    <If "%{HTTP_HOST} != '{{ server_hostname }}'">
      Redirect "/" "https://{{ server_hostname }}/"
    </If>
  {% endif %}

  RewriteEngine on
  {% if custom_redirect %}
    RewriteMap redirects "dbm:{{ site_dir }}/redirects.map"
    RewriteRule ^ - [E=user_redirects:Y]
  {% else %}
    RewriteRule ^ - [E=user_redirects:N]
  {% endif %}

  DocumentRoot {{ drupal_dir }}

  <Directory "{{ drupal_dir }}">
    AllowOverride All
    Options -Indexes +FollowSymLinks
    {% if htpasswd_enable %}
      AuthType Basic
      AuthName "{{ htpasswd_prompt }}"
      AuthUserFile {{ site_dir }}/.htpasswd
      Require valid-user
    {% else %}
      Require all granted
    {% endif %}
  </Directory>
  {% if htpasswd_enable %}
  <Directory "{{ drupal_dir }}/.well-known">
    AuthType None
    Require all granted
  </Directory>
  {% endif %}
  {% if not fpm_disable %}
    <FilesMatch \.php$>
      SetHandler "proxy:unix:/var/run/php-fpm{{ php_version }}-{{ drutopian }}.sock|fcgi://localhost"
    </FilesMatch>
    <Proxy "fcgi://localhost" connectiontimeout={{ apache_fpm_connect_timeout }} timeout={{ apache_fpm_timeout }}>
    </Proxy>
  {% endif %}

  {% if file_fallback_dir %}
    <Directory "{{ file_fallback_dir }}">
      AllowOverride All
      Options -Indexes
      Require all granted
    </Directory>
    RewriteCond %{REQUEST_URI} ^/sites/default/files/.
    # ...resolution at this point is to /sites/default/files/...
    RewriteCond {{ file_dir }}/%{REQUEST_FILENAME} !-f
    RewriteRule ^/sites/default/files/(.+)$ {{ file_fallback_dir }}/$1
  {% endif %}

  SSLEngine on
  SSLCertificateFile {{ site_ssl_cert_path }}
  {% if site_ssl_chain_path %}
  SSLCertificateChainFile {{ site_ssl_chain_path }}
  {% endif %}
  SSLCertificateKeyFile {{ site_ssl_key_path }}
  {% if site_ssl_hsts %}
  # HTTP Strict Transport Security (mod_headers is required) (63072000 seconds)
  Header always set Strict-Transport-Security "max-age=63072000"
  {% endif %}

  CustomLog {{ log_dir }}/web-access.log combined
  ErrorLog {{ log_dir }}/web-error.log
  {% if custom_vhost %}
    IncludeOptional {{ sys_dir }}/{{ drutopian }}-vhost-custom.conf
  {% endif %}
</VirtualHost>
{% endif %}
