# Detected
{% if not existing_version.skipped|default(false) %}
{% if existing_version.failed %}
existing_version: '-not found-'
{% else %}
existing_version: "{{ existing_version['content'] | b64decode | trim }}"
{% endif %}
{% endif %}
{% if not existing_custom_version.skipped|default(false) %}
{% if existing_custom_version.failed %}
existing_custom_version: '-not found-'
{% else %}
existing_custom_version: "{{ existing_custom_version['content'] | b64decode | trim }}"
{% endif %}
{% endif %}
{% if user_managed_site %}
activated_version: "n/a"
{% else %}
activated_version: "{{ activated_version['content'] | b64decode | trim }}"
{% endif %}
config_import_force_all: "{{ config_import_force_all|default('-not set-') }}"
custom_git_hash: "{{ custom_git_hash | default('-not found-') }}"
drupal_installed: "{{ drupal_installed }}"

# Settings
canonical_redirect: "{{ user_managed_site | ternary('n/a', canonical_redirect) }}"
certbot_enable: "{{ certbot_enable }}"
config_import_force: "{{ config_import_force }}"
config_sync_path: "{{ config_sync_path }}"
config_sync_var: "{{ config_sync_var }}"
custom_path: "{{ custom_path }}"
custom_redirect: "{{ custom_redirect }}"
custom_repo: "{{ custom_repo }}"
custom_version: "{{ custom_version }}"
custom_vhost: "{{ custom_vhost }}"
db_backup_days: "{{ db_backup_days }}"
db_backup_disable: "{{ db_backup_disable }}"
db_backup_hours: "{{ db_backup_hours }}"
db_backup_minutes: "{{ db_backup_minutes }}"
db_disable: "{{ db_disable }}"
db_migrate_key: "{{ db_migrate_key }}"
db_migrate_name: "{{ db_migrate_name }}"
db_name: "{{ db_name }}"
db_pwd: "{{ db_pwd }}"
db_user: "{{ db_user }}"
delete_member: "{{ delete_member }}"
drupal_account_name: "{{ drupal_account_name }}"
drupal_account_pass: "{{ drupal_account_pass }}"
drupal_deploy: "{{ drupal_deploy }}"
drupal_email: "{{ drupal_email }}"
drupal_enable_modules: "{{ drupal_enable_modules }}"
drupal_force_reinstall: "{{ drupal_force_reinstall }}"
drupal_install_args: "{{ drupal_install_args }}"
drupal_install: "{{ drupal_install }}"
drupal_migrate: "{{ drupal_migrate }}"
drupal_profile: "{{ drupal_profile }}"
drupal_site_name: "{{ drupal_site_name }}"
drush_cron_disable: "{{ drush_cron_disable }}"
drush_cron_hour: "{{ drush_cron_hour }}"
drush_cron_minute: "{{ drush_cron_minute }}"
drush_post_install_cmds: "{{ drush_post_install_cmds }}"
drutopia_version: "{{ drutopia_version }}"
extra_vars: "{{ extra_vars }}"
file_fallback_member: "{{ file_fallback_member }}"
fpm_disable: "{{ fpm_disable }}"
fpm_logging: "{{ fpm_logging }}"
fpm_slowlog: "{{ fpm_slowlog }}"
hash_salt: "{{ hash_salt }}"
htaccess_mod_after: "{{ htaccess_mod_after }}"
htaccess_mod_before: "{{ htaccess_mod_before }}"
htaccess_mod: "{{ htaccess_mod }}"
htpasswd_enable: "{{ htpasswd_enable }}"
htpasswd_name: "{{ htpasswd_name }}"
htpasswd_password: "{{ htpasswd_password }}"
htpasswd_prompt: "{{ htpasswd_prompt }}"
member_temp: "{{ member_temp }}"
online: "{{ online }}"
php_settings_code: "{{ php_settings_code }}"
php_version: "{{ php_version }}"
post_deploy: "{{ post_deploy|join(',') }}"
post_drupal: "{{ post_drupal|join(',') }}"
pre_deploy: "{{ pre_deploy|join(',') }}"
server_aliases: "{{ server_aliases|join(',') }}"
server_hostname: "{{ server_hostname }}"
site_ssl_cert_path: "{{ site_ssl_cert_path }}"
site_ssl_chain_path: "{{ site_ssl_chain_path }}"
site_ssl_key_path: "{{ site_ssl_key_path }}"
site_uuid: "{{ site_uuid }}"
ssh_authorized_keys: "{{ ssh_authorized_keys|join(',') }}"
sync_files: "{{ sync_files }}"
sync_hostname: "{{ sync_hostname }}"
sync_member: "{{ sync_member }}"
sync_rm_files: "{{ sync_rm_files }}"
sync_styles: "{{ sync_styles }}"
update_method: "{{ update_method }}"
update_script: "{{ update_script }}"
user_managed_site: "{{ user_managed_site }}"
user_register: "{{ user_register }}"
web_subfolder: "{{ web_subfolder }}"
