#!/usr/bin/env sh
set -e
backup_date=$(date +%Y%m%dT%H%M%S)
backup_dir={{backup_dir}}
# create backup file in ~backups/$date-live.sql
{{ bin_dir }}/drush sql-dump --structure-tables-list=cache,cache_filter,cache_menu,cache_page,history,sessions,watchdog --result-file=${backup_dir}/${backup_date}-auto.sql
# zip!
gzip ${backup_dir}/${backup_date}-auto.sql
# delete old backups
find ${backup_dir} -maxdepth 1 -name "*-auto.sql.gz" -mtime +{{db_backup_days}} -exec rm {} \;
