<?php

/**
 * @file
 * Settings for the hosted environment.
 */

$databases['default']['default'] = array(
  'driver' => 'mysql',
  'database' => '{{ db_name }}',
  'username' => '{{ db_user }}',
  'password' => '{{ db_pwd }}',
  'host' => '{{ db_host | default("localhost") }}',
  'prefix' => '',
);

{% if db_migrate_name %}
$databases['{{ db_migrate_key|default("migrate") }}']['default'] = array(
  'driver' => 'mysql',
  'database' => '{{ db_migrate_name }}',
  'username' => '{{ db_user }}',
  'password' => '{{ db_pwd }}',
  'host' => '{{ db_host | default("localhost") }}',
  'prefix' => '',
);
{% endif %}

$settings['trusted_host_patterns'] = array(
  '^{{ server_hostname|default("localhost")|replace(".", "\.") }}$'
  {% if server_aliases %}
    {% for host in server_aliases %}
  ,'^{{ host|replace(".", "\.") }}$'
    {% endfor %}
  {% endif %}
);

$settings['hash_salt'] = '{{ hash_salt }}';

{% if config_sync_code %}
{{ config_sync_code }}
{% endif %}


{% if user_register | default("") %}
/**
 * Overrides distribution configuration for user registration settings.
 *
 * Available values are:
 *  - admin_only
 *  - visitors
 *  - visitors_admin_approval
 */
$config['user.settings']['register'] = {{ user_register }};
{% endif %}

# Disable all functionality related to authorized file operations:
$settings['allow_authorize_operations'] = FALSE;

$settings['file_chmod_directory'] = 0775;
$settings['file_chmod_file'] = 0664;
$settings['file_temp_path'] = '{{ member_temp|ternary(home_dir, '') + '/tmp' }}';

# $settings['file_public_base_url'] = 'http://downloads.example.com/files';
# $settings['file_public_path'] = 'sites/default/files';
# The template file should be copied into the theme. It is located inside
# 'core/modules/system/templates/maintenance-page.html.twig'.
# $settings['maintenance_theme'] = 'bartik';
# $settings['install_profile'] = '';
# Invalidate dependency injection container
# $settings['deployment_identifier'] = \Drupal::VERSION;
# Ensure this is always false:
# $settings['update_free_access'] = FALSE;
# Outbound proxy access settings:
# $settings['http_client_config']['proxy']['http'] = 'http://proxy_user:proxy_pass@example.com:8080';
# $settings['http_client_config']['proxy']['https'] = 'http://proxy_user:proxy_pass@example.com:8080';
# $settings['http_client_config']['proxy']['no'] = ['127.0.0.1', 'localhost'];
# Reverse proxy settings:
# $settings['reverse_proxy'] = TRUE;
# $settings['reverse_proxy_addresses'] = array('a.b.c.d', ...);
# $settings['reverse_proxy_header'] = 'X_FORWARDED_FOR';
# $settings['reverse_proxy_proto_header'] = 'X_FORWARDED_PROTO';
# $settings['reverse_proxy_host_header'] = 'X_FORWARDED_HOST';
# $settings['reverse_proxy_port_header'] = 'X_FORWARDED_PORT';
# $settings['reverse_proxy_forwarded_header'] = 'FORWARDED';
# If a direct path is provided for authenticated users, set to false:
# $settings['omit_vary_cookie'] = TRUE;

{% if php_settings_code is defined and php_settings_code|length %}
{{ php_settings_code }}
{% endif %}
