#!/bin/bash
set -euo pipefail
sync_date=$(date +%Y%m%d_%H%M%S%Z)
remote_drush='export PATH=~/bin/:$PATH; drush'
[ -d ~/files ] || (echo "source_files folder does not exist"; exit 1)
ssh test-site "[ -d ~/files ]" || (echo "SSH connection to test-site ({{ sync_member }}) or target ~/files folder does not exist"; exit 1)
ssh test-site "${remote_drush} status --root=site/web > /dev/null" || (echo "drush status failed, does the target site exist?"; exit 1)
echo ">> SSH and drush connection OK!"
echo ">> Syncing this site to {{ sync_member }} (using file date: ${sync_date})..."
echo ">> Dumping source and destination databases..."
ssh test-site "${remote_drush} sql-dump --root=site/web | gzip > ~/backups/${sync_date}-paranoia.sql.gz"
drush sql-dump --root=site/web --structure-tables-key=common | gzip > ~/backups/${sync_date}-sync.sql.gz
echo ">> Copying db..."
scp ~/backups/${sync_date}-sync.sql.gz test-site:backups/
echo ">> Reloading target database..."
ssh test-site "${remote_drush} sql-drop --root=site/web -y"
ssh test-site "gunzip ~/backups/${sync_date}-sync.sql.gz"
ssh test-site "${remote_drush} sqlc --root=site/web < ~/backups/${sync_date}-sync.sql"
{% if sync_files %}
echo ">> Sending new files..."
rsync -rlptvz --exclude /php --exclude /js --exclude /css {%if not sync_styles %}--exclude /styles{% endif %} --exclude /twig ~/files/ test-site:files/
{% elif sync_rm_files %}
echo ">> Emptying files folder (assume using live files as apache fall-back)..."
ssh test-site rm -rf files/*
{% endif %}
echo ">> Sync to {{ sync_member }} complete - running cache rebuild..."
ssh test-site "${remote_drush} cr --root=site/web"
echo ">> Target {{ sync_member }} is ready!"
